@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  height: 100%;
}

main {
  width: 100dvw;
  height: 100dvh;
  position: relative;
}

.to-do-box {
  position: absolute;
  transform: translateX(-50%);
  margin-top: 30px;
  top: 0;
  left: 50%;
  width: clamp(320px, 100dvw, 900px);
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: "Google Sans", sans-serif;
}

#to-do-title {
  word-break: break-all;
  text-align: center;
  width: 100%;
  padding: 5px 20px;
  font-weight: 500;
  font-size: x-large;
}

.tab-status {
  display: flex;
  gap: 1rem;
  width: 100%;
  font-size: small;
}

.tab-status input[type="radio"] {
  display: none;
}

.tab-status input[type="radio"]:checked + label {
  font-weight: 500;
  border-bottom: 3px solid blue;
  color: black;
}

.tab-status label {
  cursor: pointer;
  color: gray;
}

.tasks-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#list-tasks {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox {
  scale: 1.5;
}

.checkbox:hover {
  cursor: pointer;
}

.name-task {
  width: 100%;
  resize: none;
  word-break: break-all;
  padding: 5px;
}
